<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="GreenWeather"width=device-width, initial-scale=1.0">
    <title>GreenWeather</title>
</head>
<body>
    <p>
        <h1>Terms:</h1>
        We only Use your email for send the weather information and  only when there is bad weather conditions.
        And if weather will be romantic we will provide You the info about it. We never Share it with any One and 
        always take care of your personal data.
        <h2>
            privacy:
            
        </h2>
        Your data is save with us and never share with any one.But used for business purposes.
        
    </p>
    <footer>
        <p>created with 💕By Md Tarique Ansari<br>
         <span>Copy Right 2021 <i class="far fa-copyright"></i></span> 
        </p>
     </footer>
</body>
</html>