<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWeather</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="../images/weather-2.jpg" type="image/jpg">
</head>
<body>
   <div class="container-fluid main_menu">
       <div class="row">
           <div class="col-md-9 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/"><i class="fas fa-snowflake"></i> GreenWeather<i class="fas fa-snowflake"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/weather">Weather</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/prediction">prediction</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">about</a>
                    </li>
                  </ul>
                      <a href="/Login-Page/Login"> <i class="fas fa-user"></i></a>
                </div>
              </nav>
             
           </div>

       </div>
   </div>
   <!-- body content -->
   <div class="container-fluid main_header">
     <div class="row">
        <div class="col-md-8 col-12 mx-auto">
    <div class="main-content">
      <form class="temp_form">
        <input class="autocompelet" type="text" id="cityName" placeholder="Enter your City name" ><button type="submit" id="search_btm"> <i class="fas fa-search"></i></button>
      </form>
    </div>
        </div>
     </div>
    </div>
    <div class="container-fluid main_header">
      <div class="row">
      <div class="temp-info">
        <div class="top-layer">
          <p id="day">Tuesday</p>
          <p id="date-today">27 Dec</p>
        </div>
        
      
      <div class="main-layer">
        <p id="city_name">Get Output</p>
        <div class="temp_show data_hide">
          <p id="temp"><span>0</span></p><p><sup>o</sup>C</p>
          <p id="temp-status"><i class="fas fa-cloud"></i>
              
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
     
   <!--footer code -->
   <footer>
      <p>created with 💕By Md Tarique Ansari<br>
       <span>Copy Right 2020 <i class="far fa-copyright"></i></span> 
      </p>
   </footer>   
   <script src="js/main.js"></script>
</body>
</html>